.l-dashboards {

  > .pre-header {
    padding: 40px 0 60px 0;
    background-color: $color-8;

    @media #{$mq-tablet} {
      padding: 70px 0 90px 0;
    }

    .content {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;

      > div {
        text-align: center;
        flex-basis: 100%;
        margin-bottom: 50px;
        &:last-of-type { margin-bottom: 0; }

        @media #{$mq-tablet} {
          flex-basis: calc(50% - 20px);
          margin-bottom: 0;
        }

        > .button-container {
          display: inline-block;
          margin-top: 30px;
          @media #{$mq-tablet} {
            margin-top: 40px;
          }
        }
      }
    }
  }

}
