.c-button {
  font-family: $font-family-1;
  font-weight: $font-weight-bold;
  font-size: $font-size-small;
  text-transform: uppercase;
  color: $color-1;
  border: none;
  padding: 7px 30px;
  cursor: pointer;
  background-color: transparent;

  &.-color-1 { color: $color-2; }
  &.-color-3 { color: $color-4; }
  &.-inverse { color: $color-6; }

  &.-border-1 {
    border: 2px solid $color-2;
    &.-fill { background-color: $color-2; }
  }
  
  &.-border-2 {
    border: 2px solid $color-1;
    &.-fill { background-color: $color-1; }
  }

  &.-border-3 {
    border: 2px solid $color-4;
    &.-fill { background-color: $color-4; }
  }
}
