.c-header {
  min-height: 775px;
  background: image-url('bg-dashboards-image@2x.png');
  background-size: cover;
  display: flex;
  align-items: center;
  position: relative;
  &.-small {
    min-height: 415px;
  }
}
