.c-header {
  background: image-url('bg-dashboards-image@2x.png');
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  min-height: 415px;

  @media #{$mq-tablet} {
    min-height: 640px;
  }

  &.-small {
    min-height: 320px;

    @media #{$mq-tablet} {
      min-height: 415px;
    }
  }

  &.-large {
    min-height: 450px;

    @media #{$mq-mobile-large} {
      min-height: 590px;
    }

    @media #{$mq-tablet} {
      min-height: 775px;
    }
  }
}
