.c-header {
  background: image-url('bg-dashboards-image@2x.png');
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  min-height: 590px;
  @media #{$mq-tablet} {
    min-height: 775px;
  }
  &.-small {
    min-height: 320px;
    @media #{$mq-tablet} {
      min-height: 415px;
    }
  }
}
