$navbar-breakpoint: 870px;

$navbar-height:       80px;
$navbar-height-small: 40px;

$navbar-toggle-width:  24px;
$navbar-toggle-height:  2px;
$navbar-toggle-spacing: 5px;
$navbar-toggle-border-radius: 1px;
$navbar-toggle-color: $color-5;

.c-navbar {
  position: absolute;
  top:0;
  left: 0;
  right: 0;
  transition: background-color .3s ease-out .3s;

  .content {
    height: $navbar-height;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .logo {
    max-width: 260px;

    img {
      max-width: 70%;

      @media #{$mq-mobile-large} {
        max-width: 100%;
      }
    }
  }

  .navbar-toggle {
    width: $navbar-toggle-width;
    height: $navbar-toggle-height * 3 + $navbar-toggle-spacing * 2;
    cursor: pointer;
    background: none;
    border: 0;
    margin: 0;
    padding: 0;
    outline: none;
    overflow: visible;
    position: relative;
    transition: opacity 0.3s linear;

    @media screen and (min-width: #{$navbar-breakpoint}){
      display: none
    }

    > span {
      position: relative;
      top: $navbar-toggle-height + $navbar-toggle-spacing;
      transition: transform 0.3s ease-in,
                  background-color 0.3s ease-in;

      &,
      &:before,
      &:after {
        display: block;
        left: 0;
        height: $navbar-toggle-height;
        width:  $navbar-toggle-width;
        background-color: $navbar-toggle-color;
        border-radius: $navbar-toggle-border-radius;
      }

      &:before,
      &:after {
        position: absolute;
        content: "";
        transition: transform 0.3s ease;
      }

      &:before { top:    -($navbar-toggle-height + $navbar-toggle-spacing); }
      &:after  { bottom: -($navbar-toggle-height + $navbar-toggle-spacing); }
    }
  }

  .navbar {
    flex-basis: 100%;
    position: absolute;
    top: $navbar-height;
    left: 0;
    right: 0;
    padding: 1rem;
    will-change: transform;
    transform-origin: top center;
    transform:scaleY(0);
    transition: .3s transform, background-color 0s .3s;
    z-index: 10;

    @media screen and (min-width: #{$navbar-breakpoint}) {
      position: static;
      flex-basis: auto;
      transform: none;
      padding: 0;
    }

    .links {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      padding: 0;
      margin: 0;
      list-style: none;
      opacity: 0;
      transition: opacity .3s ease-out;

      @media screen and (min-width: #{$navbar-breakpoint}){
        opacity: 1;
        flex-direction: row;
        position: static;
        flex-basis: auto;
        transform: none;
      }

      .link {
        margin: 5px;
        &:first-of-type { margin-left: 0; }

        > a {
          padding: 0 0 3px 0;
          color: $color-5;
          text-decoration: none;
          font-size: $font-size-small;
          font-weight: $font-weight-bold;
          line-height: 1.6;
          letter-spacing: .5px;
          text-transform: uppercase;
        }

        &.-active > a {
          border-bottom: 2px solid $color-2;
        }

        &.-secondary > a {
          font-weight: $font-weight-normal;
        }

        &.separator {
          padding: 0;
          display: inline-block;
          flex-basis: 1px;
          margin: 0 17px;
          width: 1px;
          height: $navbar-height-small;
          background-color: rgba($color-5, .3);
        }
      }
    }
  }

  &.-small {
    .content { height: $navbar-height-small; }
    .navbar-toggle { transform: scale(.8); }
    .navbar { top: $navbar-height-small; }

    .logo {
      height: calc(100% - 20px);

      img {
        height: 100%;
        max-width: none;
      }
    }
  }

  &.-open {
    transition: background-color 0s ease-in-out;
    background-color: rgba($color-1, 0.9);

    .navbar {
      transform: scaleY(1);
      background-color: rgba($color-1, 0.9);
      transition: .3s transform, background-color 0s 0s;

      .links { opacity: 1; }
    }

    .navbar-toggle > span {
      background-color: transparent;
      transition: transform 0.3s ease-in;

      &:before {
        transform: translate3d(0, $navbar-toggle-height + $navbar-toggle-spacing, 0) rotate(45deg);
      }

      &:after {
        transform: translate3d(0, ($navbar-toggle-height + $navbar-toggle-spacing) * -1, 0) rotate(-45deg);
      }
    }
  }

  &.-dark {
    background-color: $color-1;
    .navbar { background-color: $color-1; }
  }
}
