.c-tooltip {
  > span {
    display: block;
    width: 22px;
    height: 22px;

    font-family: $font-family-2;
    font-weight: $font-weight-bold;
    font-size: 16px;
    line-height: 22px;
    text-align: center;
    color: $color-1;

    border: 1px solid $color-10;
    border-radius: 50%;
  }
}
