/* General layout */
$wrapper-max-width:      1140px;
$wrapper-mobile-padding:   20px;

/* Font families */
$font-family-1: "Open Sans", sans-serif;
$font-family-2: "PT Sans", serif;

/* Font sizes */
$font-size-tiny:    10px;
$font-size-x-small: 12px;
$font-size-small:   15px;
$font-size-normal:  18px;
$font-size-medium:  30px;
$font-size-big:     40px;
$font-size-x-big:   60px;
$font-size-huge:    80px;
